{% block title %}Ajout d'un lieu{% endblock %}

{% block body %}
    <div id="create_lieu"></div>
{{ form_start(lieuForm,{'attr':{'id': 'lieu_form'},'action': path('lieu_ajout') })}}
{{ form_widget(lieuForm)}}
    <button id="btnAj">Ajouter un lieu</button>
{{ form_end(lieuForm)}}
{% endblock %}
