{% extends 'base.html.twig' %}

{% block body %}

    <button><a href="{{ path('admin_gestionutilisateur') }}">GERER LES UTILISATEURS</a></button>
    <button><a href="{{ path('admin_gestionSorties') }}">GERER LES SORTIES</a></button>
{% endblock %}

