{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('admin_gestionutilisateur') }}">
        <button class="submit">GERER LES UTILISATEURS</button></a>
    <a href="{{ path('admin_gestionSorties') }}">
        <button class="submit">GERER LES SORTIES</button></a>
    <a href="{{ path('admin_gestionVille') }}">
        <button class="submit">GERER LES VILLES</button></a>
    <a href="{{ path('admin_gestionCampus') }}">
        <button class="submit">GERER LES CAMPUS</button></a>
{% endblock %}