{% extends 'base.html.twig' %}

    {% block body %}

        <button><a href="{{ path('participant_adminGestionUtilisateur') }}">GERER LES UTILISATEURS</a></button>
        <button><a href="{{ path('participant_adminGestionSortie') }}">GERER LES SORTIES</a></button>
    {% endblock %}

