{% extends 'base.html.twig' %}

    {% block body %}
        <a href="{{ path('participant_adminGestionUtilisateur') }}">
        <button class="submit">GERER LES UTILISATEURS</button></a>
        <a href="{{ path('participant_adminGestionSortie') }}">
        <button class="submit">GERER LES SORTIES</button></a>
    {% endblock %}
