{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <div class="container">
{{ form_start(participantForm) }}
{{ form_widget(participantForm) }}
    <button class="btn btn-md btn-primary">Modifier</button>
{{ form_end(participantForm) }}
    </div>
{% endblock %}



